<h1>프로필 수정</h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name, "이름"  %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "이메일"  %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "비밀번호" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "비밀번호 확인" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "수정" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">change</a>
</div>
