<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "시작 화면", root_path %></li>
      <% if signed_in? %>
      <li><%= link_to "프로필", current_user %></li>
      <% end %>
      <li><%= link_to "도움말", help_path %></li>
      <% if signed_in? %>
      <li><%= link_to "로그아웃", signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "로그인", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
